  {{#each reviews as |review|}}
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-preview">
          <a class="img-hold" href="/review/{{review.id}}">
            <h2 class="post-title">{{review.title}}</h2>
            <h3 class="post-subtitle">{{review.description}}</h3>
            <img id="Alien"
              src={{review.image}}>
          </a>
          <p class="post-meta">
            Posted by {{reviewer.name}} on {{format_date review.created_at}}
          </p>
          {{#if logged_in}}
          <form>
            <div class="card p-3">
              <div class="stars">
                <div class="fiveToOne">
                  <input type="radio" id="One" name="rate" value="1">
                  <label for="One"></label>
                  <input type="radio" id="two" name="rate" value="2">
                  <label for="two"></label>
                  <input type="radio" id="three" name="rate" value="3">
                  <label for="three"></label>
                  <input type="radio" id="four" name="rate" value="4">
                  <label for="four"></label>
                  <input type="radio" id="five" name="rate" value="5">
                  <label for="five"></label>
                  <span class="result"></span>
                </div>
              </div>
              <input class="textBox" type="text" placeholder="user review">
            </div>
          </form>
          {{/if}}
        </div>
      </div>
    </div>  
  </div>
  <hr>
{{/each}}
</main>
{{!-- CLOSE MAIN CONTENT WITH </main>!!! --}}

      <div class="wrapper">
      <header>What movie should Max Powers review next?</header>
      <div class="poll-form">
        <input type="checkbox" name="poll" id="movie1" value="movie1">
        <input type="checkbox" name="poll" id="movie2" value="movie2">
        <input type="checkbox" name="poll" id="movie3" value="movie3">
        <input type="checkbox" name="poll" id="movie4" value="movie4">
        <label for="movie1" class="movie1">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text">Never Ending Story</span>
          </div>
          <span class="percent">55%</span>
        </div>
        <div class="progress" id="pstyle1" style='--w:55;'></div>
      </label>
      <label for="movie2" class="movie2">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text">The Thing</span>
          </div>
          <span class="percent">75%</span>
        </div>
        <div class="progress" id="pstyle2" style='--w:75;'></div>
      </label>
      <label for="movie3" class="movie3">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text">Predator</span>
          </div>
          <span class="percent">20%</span>
        </div>
        <div class="progress" id="pstyle3" style='--w:20;'></div>
      </label>
      <label for="movie4" class="movie4">
        <div class="row">
          <div class="column">
            <span class="circle"></span>
            <span class="text">The Goonies</span>
          </div>
          <span class="percent">12%</span>
        </div>
        <div class="progress" id="pstyle4" style='--w:12;'></div>
      </label>
      </div>
    </div>
