{{!-- View file for the various reviews --}}
<article class="review">
    <div class="title">
        <a href="/review/{{id}}">{{title}}</a>
    </div>
    <div class="body">
        {{description}}
    </div>
    <div class="author">
        <p>Posted by {{reviewer.name}} on {{created_at}}</p>
    </div>
</article>

{{!-- Not sure if this should be in a partial folder or not --}}